apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
  namespace: app-workload
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      securityContext:
        runAsUser: 1000
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 8000 # Prometheus metrics
          env:
            - name: NATS_URL
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: nats-url
            - name: VALKEY_PASS
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: valkey-password
          resources:
            {{- toYaml .Values.resources | nindent 12 }}