apiVersion: v1
kind: Service
metadata:
  name: {{ .Chart.Name }}
  namespace: app-workload
spec:
  selector:
    app: {{ .Chart.Name }}
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080